body
  #wrapper
    #top-bar
      .container.clearfix
        span.all-labs
          a(href='/') HOME
        if (!currentUser)
          span.back-to-tutorial
            a(href='/signin') 로그인
        else
          span.back-to-tutorial
            a(href='/signout') 로그아웃          
