body
  #main
    .container
      #nav-trigger
        span Menu
      nav#nav-main
        if (!currentUser)
          ul
            li
              a(href='/signin') 설문등록

            li
              a(href='/signin') 설문관리
            li
              a(href='/users/new') 회원가입
        else
          ul
            li
              a(href='/posts/new') 설문등록

            li
              a(href='/posts') 설문관리
            li
              a(href='/users') 사용자관리
      nav#nav-mobile