body
  #main
    .container
      #nav-trigger
        span Menu
      nav#nav-main
        ul
          li
            a(href='') 설문등록
          li
            a(href='') 설문수집
          li
            a(href='') 설문결과
          li
            a(href='/new') 회원가입
          li
            a(href='') 설문관리
      nav#nav-mobile