extends layout

block content
  #content
    .container
      .row
        .col-md-6
          h3 서비스 목적 
          br
          p 본 서비스는 온라인으로 설문조사를 하기 위해서 만들어진 사이트입니다. 
        .col-md-6
          h3 주요 기능
          br
          ul
            li 설문등록 : 새로운 설문지를 생성합니다.
            li 설문수집 : 설문지로 설문데이터를 수집합니다.
            li 설문결과 : 설문데이터를 분석한 결과를 보여줍니다.
            li 설문관리 : 사용자의 설문지를 관리합니다.